  <% if user_signed_in? %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>

<h1>Welcome to the Trader Home Page</h1>

<p>This is where traders can manage their stocks and view their portfolio.</p>

