<h1>Your approval is pending</h1>
<p>Your account is pending approval. You will receive an email once your account has been approved.</p>
<%= button_to 'Logout', destroy_user_session_path, method: :delete %>