<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Our Site, <%= @user.email %>!</h1>
    <p>Your account is pending approval. You will receive an email once your account has been approved.</p>
  </body>
</html>
